<footer class="footer container" role="contentinfo">
        <div class="region region-footer">
    <section id="block-footer" data-block-plugin-id="block_content:f72eaaf3-65ca-458d-ae39-4071c16db6d2" class="block block-block-content block-block-contentf72eaaf3-65ca-458d-ae39-4071c16db6d2 clearfix">




            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><div class="footer-wrapper row clearfix">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sm-mb" id="" style="">
<div class="footercol1">
<h1 class="highlight">9.2 Tonnes</h1>

<div class="conversion">waste converted to Soil from<br>
1st February 2017</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sm-mb" id="" style="">
<div class="footercol2">
<div class="contact">If you want to associate with us<br>
and spread the word, <a href="about-us#contact-us">contact us</a></div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sm-mb" id="" style="">
<div class="footercol3">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3" id="" style="">
<div class="fb-link"><a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/TheUrbanFarm.in/"></a></div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3" id="" style="">
<div class="ig-link"><a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/explore/locations/1026079161/the-urban-farm/"></a></div>
</div>
</div>
</div>
</div></div>

  </section>

<section id="block-contactus" data-block-plugin-id="block_content:2f577d00-7317-4d0a-9399-3a1da4235dfa" class="block block-block-content block-block-content2f577d00-7317-4d0a-9399-3a1da4235dfa clearfix">




            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><div class="modal fade" id="contact-us-modal" role="dialog">
<div class="modal-dialog modal-sm">
<div class="modal-content"><!-- <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
            </div> -->
<div class="modal-body">
<div class="contactus" id="" style="">
<div class="desc">
<h1>102 Home Compost</h1>
<span>Get yours in ₹2200 only!</span></div>

<div class="contactus-number">To order, call or WhatsApp at</div>
<a class="btn btn-default number-btn" href="tel:+91-9822-083320">+919822083320</a></div>
</div>
</div>
</div>
</div>

<p><button class="btn btn-default get-the-kit" data-target="#contact-us-modal" data-toggle="modal" type="button" style="opacity: 0.5;">Get the kit</button></p>
</div>

  </section>


  </div>

    </footer>
