<header class="ktc-header clearfix" style="opacity: 0.7; position: fixed;">
  <div class="container">
    <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 ktc-logo">
                                    <div class="clearfix" role="heading">
                <div class="logo-inner">   <div class="region region-branding">
          <a class="logo navbar-btn pull-left" href="/" title="Home" rel="home">
      <img src="/assets/logo.png" alt="Home" draggable="false">
    </a>

  </div>
 </div>
              </div>
                    </div>

                                        <div class="navbar col-lg-9 col-md-9 col-sm-9 col-xs-12 ktc-nav navbar-default container" id="navbar" role="banner">
                            <div class="navbar-header">

                                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                                  </div>

                                                  <div id="navbar-collapse" class="navbar-collapse collapse">
                      <div class="region region-navigation-collapsible">
    <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" data-block-plugin-id="system_menu_block:main">
            <h2 class="sr-only" id="block-mainnavigation-menu">Main navigation</h2>


      <ul class="menu menu--main nav navbar-nav">
                        <li class="{% if page.title == "Kit Contents" %}active{% endif %}">
        <a href="/kit-contents" title="Ingredients in the box" class="{% if page.title == "Kit Contents" %}is-active{% endif %}">Kit Contents</a>
                  </li>
                        <li class="{% if page.title == "For Beginners" %}active{% endif %}">
        <a href="/for-beginners" title="Composting recipe for beginners" class="{% if page.title == "For Beginners" %}is-active{% endif %}">For Beginners</a>
                  </li>
                        <li class="{% if page.title == "More Recipes" %}active{% endif %}">
        <a href="/recipes" title="More recipes for your plants" class="{% if page.title == "More Recipes" %}is-active{% endif %}">More Recipes</a>
                  </li>
                        <li class="{% if page.title == "About Us" %}active{% endif %}">
        <a href="/about-us" class="{% if page.title == "About Us" %}is-active{% endif %}">About Us</a>
                  </li>
        </ul>


  </nav>

  </div>

                  </div>
                                          </div>

                </div>
  </div>
</header>
