<section class="before-content-fullwidth">
      <div class="container-fluid">
        <div class="row">
            <div class="region region-before-content-fullwidth">
    <section id="block-video" class="ing-video block block-block-content block-block-content8ef774ad-29aa-4479-b566-40da2757e1bc clearfix" data-block-plugin-id="block_content:8ef774ad-29aa-4479-b566-40da2757e1bc">




            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><p><iframe id="testvid" allow="autoplay; encrypted-media" allowfullscreen="" class="embd-video" frameborder="0" height="auto" modestbranding="1" src="https://www.youtube.com/embed/vg1VpW84cNs?enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;vq=large" width="100%"></iframe></p></div>

  </section>


  </div>

        </div>
      </div><!--container end-->
    </section>
