<section class="before-content-fullwidth">
      <div class="container-fluid">
        <div class="row">
            <div class="region region-before-content-fullwidth">
    <section id="block-aboutusoverview" data-block-plugin-id="block_content:14d758cd-cb73-4db4-ac83-7f763701e096" class="block block-block-content block-block-content14d758cd-cb73-4db4-ac83-7f763701e096 clearfix">




            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><div class="about-us-overview clearfix">
<div class="about-us-image">&nbsp;</div>

<div class="about-us-desc">We are designers, engineers and makers of useful things. At The Urban Farm, we aim to create tools by which people can farm in urban areas.<br>
<br>
102 HOME COMPOST is a first step in making urban farming accesible to common people and solve problem of urban organic waste.</div>
</div>
</div>

  </section>


  </div>

        </div>
      </div><!--container end-->
    </section>
