<section class="before-content-fullwidth">
      <div class="container-fluid">
        <div class="row">
            <div class="region region-before-content-fullwidth">
    <section id="block-slider" data-block-plugin-id="block_content:7da7d807-8812-492d-a2e2-768ade94ff6b" class="block block-block-content block-block-content7da7d807-8812-492d-a2e2-768ade94ff6b clearfix">




            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><section class="owl-carousel owl-theme slider ktc-slider-wrapper" id="kts-slider">
<div class="item">
<div class="slider-container">
<div class="slide-image slide-image1">&nbsp;</div>

<div class="slider-text slider-text1">
<h1 class="slider-title slider-title1"><span>120</span> Home<br>
Compost</h1>

<h3 class="slider-desc slider-desc1">We provide you different composting recipes and guide you through the 3 simple steps of composting.</h3>

</div>
<!-- End of slider-text--></div>
<!--End of slider-container --></div>

<div class="item">
<div class="slider-container">
<div class="slide-image slide-image2">&nbsp;</div>

<div class="slider-text slider-text2">
<h1 class="slider-title slider-title2"><span>120</span> Home<br>
Compost</h1>

<h3 class="slider-desc slider-desc2">We give more recipes for users who have successfully done composting for at least 3 months.</h3>

</div>
<!-- End of slider-text--></div>
<!--End of slider-container --></div>
<!-- End of Item -->

<div class="item">
<div class="slider-container">
<div class="slide-image slide-image3">&nbsp;</div>

<div class="slider-text slider-text3">
<h1 class="slider-title slider-title3"><span>120</span> Home<br>
Compost</h1>

<h3 class="slider-desc slider-desc3">The urban farms’ 102 home compost is a kit used in small spaces for converting organic waste to organic soil at home. No bad smell is guaranteed! </h3>

</div>
<!-- End of slider-text--></div>
<!--End of slider-container --></div>
<!-- End of Item --></section>
</div>

  </section>


  </div>

        </div>
      </div><!--container end-->
    </section>
