/*==== Color ====*/
$text-color: #404041;
$title-color: #4f5e6d;


$base-gray: #404041;

$slider-title-highlight: #f7931d;
$other-highlights: #f7931d;

$alternative-special: #ba2426;
$special: #f7931d;

$body-bkg: #ffffff;
$header-bkg: #ffffff;
$slogan-color: #000000;

$page-title: #0045a9;

$custom-scroll-color: #0045a9;

$gl-menu-bkg: #ffffff;
$gl-menu-links-inactive: #464646;
$gl-menu-links-active: #008b3b;
$gl-menu-links-separator-color: #e5e5e5;

$copyright-bkg: #969696;
$copyright-txt: #ffffff;

$slider-description: #414042;

/*==== Font ====*/
$strong-font: 'IBM Plex Serif', serif;
$base-font: 'Hind', sans-serif;

/*==== Font-size ====*/
$normal-font: 16px;
$small-font: 14px;
$xsmall-font: 12px;
$blocktitle: 20px;

$page-title-size: 22px;

$gl-menu-font-size: 18px;

$footer-font-size: 18px;

$copyright-font-size: 12px;

